sample/NerdDinner_2.0/NerdDinner/Service References/Services/CommandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51233/CommandService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51233/CommandService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51233/CommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NerdDinner.Commands" />
      <xsd:import schemaLocation="http://localhost:51233/CommandService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Web.Security" />
      <xsd:import schemaLocation="http://localhost:51233/CommandService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SimpleCqrs.Commanding" />
      <xsd:import schemaLocation="http://localhost:51233/CommandService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/NerdDinner.CommandService.CommandHandlers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommandService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="ICommandService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_ChangePassword_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangePassword" />
  </wsdl:message>
  <wsdl:message name="ICommandService_ChangePassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangePasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_CreateDinner_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateDinner" />
  </wsdl:message>
  <wsdl:message name="ICommandService_CreateDinner_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateDinnerResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_CancelDinner_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelDinner" />
  </wsdl:message>
  <wsdl:message name="ICommandService_CancelDinner_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelDinnerResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_EditDinner_InputMessage">
    <wsdl:part name="parameters" element="tns:EditDinner" />
  </wsdl:message>
  <wsdl:message name="ICommandService_RsvpForDinner_InputMessage">
    <wsdl:part name="parameters" element="tns:RsvpForDinner" />
  </wsdl:message>
  <wsdl:portType name="ICommandService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/RegisterUser" message="tns:ICommandService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/RegisterUserResponse" message="tns:ICommandService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/ChangePassword" message="tns:ICommandService_ChangePassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/ChangePasswordResponse" message="tns:ICommandService_ChangePassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateDinner">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/CreateDinner" message="tns:ICommandService_CreateDinner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/CreateDinnerResponse" message="tns:ICommandService_CreateDinner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CancelDinner">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/CancelDinner" message="tns:ICommandService_CancelDinner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/CancelDinnerResponse" message="tns:ICommandService_CancelDinner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditDinner">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/EditDinner" message="tns:ICommandService_EditDinner_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RsvpForDinner">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/RsvpForDinner" message="tns:ICommandService_RsvpForDinner_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommandService" type="tns:ICommandService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/ICommandService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangePassword">
      <soap:operation soapAction="http://tempuri.org/ICommandService/ChangePassword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateDinner">
      <soap:operation soapAction="http://tempuri.org/ICommandService/CreateDinner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelDinner">
      <soap:operation soapAction="http://tempuri.org/ICommandService/CancelDinner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditDinner">
      <soap:operation soapAction="http://tempuri.org/ICommandService/EditDinner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="RsvpForDinner">
      <soap:operation soapAction="http://tempuri.org/ICommandService/RsvpForDinner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommandService">
    <wsdl:port name="BasicHttpBinding_ICommandService" binding="tns:BasicHttpBinding_ICommandService">
      <soap:address location="http://localhost:51233/CommandService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>