src/Sample/Web/Service References/Commanding/CommandService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommandService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63691/CommandService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63691/CommandService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63691/CommandService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Commands" />
      <xsd:import schemaLocation="http://localhost:63691/CommandService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SimpleCqrs.Commanding" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommandService_CreateCart_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCart" />
  </wsdl:message>
  <wsdl:message name="ICommandService_CreateCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCartResponse" />
  </wsdl:message>
  <wsdl:message name="ICommandService_AddProductToCart_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToCart" />
  </wsdl:message>
  <wsdl:message name="ICommandService_AddProductToCart_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductToCartResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommandService">
    <wsdl:operation name="CreateCart">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/CreateCart" message="tns:ICommandService_CreateCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/CreateCartResponse" message="tns:ICommandService_CreateCart_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProductToCart">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommandService/AddProductToCart" message="tns:ICommandService_AddProductToCart_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommandService/AddProductToCartResponse" message="tns:ICommandService_AddProductToCart_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommandService" type="tns:ICommandService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateCart">
      <soap:operation soapAction="http://tempuri.org/ICommandService/CreateCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProductToCart">
      <soap:operation soapAction="http://tempuri.org/ICommandService/AddProductToCart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommandService">
    <wsdl:port name="BasicHttpBinding_ICommandService" binding="tns:BasicHttpBinding_ICommandService">
      <soap:address location="http://localhost:63691/CommandService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>