src/Sample/Web/Service References/Commanding/CommandService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63691/CommandService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SimpleCqrs.Commanding" />
  <xs:import schemaLocation="http://localhost:63691/CommandService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="CreateCartCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SimpleCqrs.Commanding" base="q1:Command">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CreateCartCommand" nillable="true" type="tns:CreateCartCommand" />
  <xs:complexType name="AddProductToCartCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SimpleCqrs.Commanding" base="q2:Command">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProductId" type="ser:guid" />
          <xs:element minOccurs="0" name="Quantity" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AddProductToCartCommand" nillable="true" type="tns:AddProductToCartCommand" />
</xs:schema>