Integration/CQRS/sample/NerdDinner_2.0/NerdDinner/Service References/Services/CommandService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/NerdDinner.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/NerdDinner.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51233/CommandService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:51233/CommandService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/SimpleCqrs.Commanding" />
  <xs:complexType name="RegisterUserCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="ser:guid" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegisterUserCommand" nillable="true" type="tns:RegisterUserCommand" />
  <xs:complexType name="ChangePasswordCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/SimpleCqrs.Commanding" base="q1:CommandWithAggregateRootId">
        <xs:sequence>
          <xs:element minOccurs="0" name="NewPassword" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ChangePasswordCommand" nillable="true" type="tns:ChangePasswordCommand" />
  <xs:complexType name="CreateDinnerCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DinnerId" type="ser:guid" />
      <xs:element minOccurs="0" name="EventDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Host" nillable="true" type="tns:DinnerHost" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="tns:Location" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CreateDinnerCommand" nillable="true" type="tns:CreateDinnerCommand" />
  <xs:complexType name="DinnerHost">
    <xs:sequence>
      <xs:element minOccurs="0" name="HostedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostedById" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DinnerHost" nillable="true" type="tns:DinnerHost" />
  <xs:complexType name="Location">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Latitude" type="xs:double" />
      <xs:element minOccurs="0" name="Longitude" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Location" nillable="true" type="tns:Location" />
  <xs:complexType name="CancelDinnerCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/SimpleCqrs.Commanding" base="q2:CommandWithAggregateRootId">
        <xs:sequence>
          <xs:element minOccurs="0" name="DinnerId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CancelDinnerCommand" nillable="true" type="tns:CancelDinnerCommand" />
  <xs:complexType name="EditDinnerCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/SimpleCqrs.Commanding" base="q3:CommandWithAggregateRootId">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContactPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DinnerId" type="ser:guid" />
          <xs:element minOccurs="0" name="EventDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="HostById" type="ser:guid" />
          <xs:element minOccurs="0" name="HostedBy" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Latitude" type="xs:double" />
          <xs:element minOccurs="0" name="Longitude" type="xs:double" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EditDinnerCommand" nillable="true" type="tns:EditDinnerCommand" />
  <xs:complexType name="RsvpForDinnerCommand">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/SimpleCqrs.Commanding" base="q4:CommandWithAggregateRootId">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttendeeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DinnerId" type="ser:guid" />
          <xs:element minOccurs="0" name="RsvpId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RsvpForDinnerCommand" nillable="true" type="tns:RsvpForDinnerCommand" />
</xs:schema>